<p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Itinerario 1</th>
            <th>Itinerario 2</th>
            <th>Itinerario 3</th>
            <th>Itinerario 4</th>
            <th>Total con F.elec</th>
            <th># Datos</th>
            <th>Σ Total</th>
            <th>Flota  eléctrica</th>
            <th>Total sin F.elec</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-km>
        <tr>

            <td>{{ km.fecha }}</td>
            <td>{{ km.itinerario1 }}</td>
            <td>{{ km.itinerario2 }}</td>
            <td>{{ km.itinerario3 }}</td>
            <td>{{ km.itinerario4 }}</td>
            <td>{{ km.total }}</td>
            <td>{{ km.datos }}</td>
            <td>{{ km.totalT }}</td>
            <td>{{ km.flotaElect }}</td>
            <td>{{ km.totalSinElect }}</td>
        </tr>
    </ng-template>
</p-table>


