<p-table class="p-10" [resizableColumns]="true" [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr class="text-sm">
            <th>Fecha</th>
            <th>Itinerario 1</th>
            <th>Itinerario 2</th>
            <th>Itinerario 3</th>
            <th>Itinerario 4</th>
            <th>Total con F.elec</th>
            <th># Datos</th>
            <th>Σ Total</th>
            <th>Flota  eléctrica</th>
            <th>Total sin F.elec</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-km>
        <tr class="text-sm">
            <td>{{ km.fecha }}</td>
            <td>{{ km.itinerario1.toFixed(2) }}</td>
            <td>{{ km.itinerario2.toFixed(2) }}</td>
            <td>{{ km.itinerario3.toFixed(2) }}</td>
            <td>{{ km.itinerario4.toFixed(2) }}</td>
            <td>{{ km.total.toFixed(2)  }}</td>
            <td>{{ km.datos }}</td>
            <td>{{ km.totalT }}</td>
            <td>{{ km.flotaElect }}</td>
            <td>{{ km.totalSinElect.toFixed(2) }}</td>
        </tr>
    </ng-template>
</p-table>


