<form [formGroup]="formHoliday" class="pt-10 flex flex-col gap-5">
  <div class="flex gap-9">
    <span class="p-float-label">
      <p-calendar [disabled]="isDisabled" dateFormat="yy-mm-dd" dataType="string" formControlName="fecha" value="" inputId="date"
      inputStyleClass="w-32 h-12 border p-2 " autocomplete="off" [showIcon]="true" styleClass=" border rounded-l"/>
      <label htmlFor="date">Fecha</label>
    </span>
    <span class="p-float-label">
      <input type="text" pInputText value="" inputId="name" class="w-32 h-12 border p-2"
      formControlName="nombre" autocomplete="off"/>
      <label htmlFor="name">Nombre</label>
    </span>
  </div>
  <app-button-primary
    icon="save"
    class="pt-5"
    [textLabel]="type === CREATE ? 'Guardar' : 'Actualizar'"
    (onClick)="submit()"
  />
</form>
