<app-km-filter (onDataFilter)="onFilter($event)"/>
<p-tabView>
    <p-tabPanel header="Kilometros">
       <app-km-table [isConciliation]="true" [data]="kmConciliation" />
    </p-tabPanel>
    <p-tabPanel header="Informe general">
       <app-general-table [data]="kmGeneral" />
    </p-tabPanel>
    <div 
        *ngIf="kmConciliation.length > 0" 
        class="flex justify-end mt-5 gap-5"
    >
        <app-btn-confirm 
        textPopup="¿Estás seguro que desea cancelar? Se quitará la información filtrada."
        btnText="Cancelar"
        icon="pi-times-circle"
        (accept)="onRemove()"
        />
        <app-btn-confirm 
            textPopup="¿Estás seguro que desea actualizar la información?" 
            btnText="Actualizar"
            icon="pi-save"
            (accept)="onUpdate()"
        />
    </div>
</p-tabView>
