<app-crud-content
  title="Incidencias en análisis de kilómetros"
  class="w-1/2"
  [headers]="['Nombre']"
  [data]="kmIncidentsTable"
  (onItemEdit)="onItemEdit($event)"
  (onItemDelete)="deleteKmIncident($event)"
  (onCreateButton)="onButtonCreate()"
  [modalVisible]="modalVisible"
>
  <app-km-incident-form
    [type]="typeForm"
    [reset]="resetForm"
    [kmIncident]="kmIncident"
    (onCreate)="createKmIncident($event)"
    (onEdit)="updateKmIncident($event)"
  />

</app-crud-content>
<p-toast/>
