<div class="flex flex-col gap-5">
  <p-toast styleClass="text-sm"></p-toast>
  <h2 class="font-bold">Indicaciones para subir archivo</h2>
  <ul class="text-sm">
    <li>1. Haz clic en el botón "Seleccionar informe de servicio".</li>
    <li>2. Seleccionar el archivo del informe de servicio que desea subir.</li>
    <li>3. Haz clic en el botón "Subir informe de servicio" que aparece posteriormente de seleccionar el archivo.</li>
  </ul>
  <p-fileUpload
    styleClass="bg-primary text-sm"
    mode="basic"
    invalidFileTypeMessageDetail="debe de tener la extensión .xls"
    invalidFileTypeMessageSummary="Tipo de archivo invalido,"
    chooseLabel="Seleccionar informe de servicio"
    uploadLabel="Subir informe de servicio"
    cancelLabel="Cancelar"
    name="file"
    [url]="baseUri + '/km-analisis/upload-file'"
    accept=".xls"
    [maxFileSize]="1000000"
    (onError)="showError($event)"
    (onUpload)="onUploaded($event)"
    (onSend)="onSendFile()"
  >
  </p-fileUpload>
  <div class="mt-10 w-1/2 m-auto" *ngIf="isLoading">
    <p-progressBar
      mode="indeterminate"
      color="#84A215"
      [style]="{ height: '6px'}"
    ></p-progressBar>
  </div>
  <p-messages 
    *ngIf="!isLoading"
    class="w-fit"
    styleClass="text-sm"
    [(value)]="message" 
    [enableService]="false" 
    [closable]="false"
  ></p-messages>
</div>
