<h1 class="font-bold py-5 text-xl">Rutas</h1>
<app-crud-content
    class=""
    [headers]="['Nombre','KM - Itinerario #1','KM - Itinerario #1 Rep.','KM - Itinerario #2','KM - Itinerario #2 Rep.','KM - Itinerario #3','KM - Itinerario #3 Rep.','KM - Itinerario #4','KM - Itinerario #4 Rep.','Inicio - Día Hábil','Inicio - Sábado','Inicio - Domingo','Fin - Día Hábil','Fin - Sábado','Fin - Domingo','Itinerario #1','Itinerario #2','Itinerario #3','Itinerario #4']"
    [data]="routesTable"
    (onItemEdit)="onItemEdit($event)"
    (onItemDelete)="deleteRoute($event)"
    (onCreateButton)="onButtonCreate()"
    [modalVisible]="modalVisible"
    [scroll]="true"
>
<app-route-form
        [type]="typeForm"
        [reset]="resetForm"
        [route]="route"
        [itineraries]="itineraries"
        (onCreate)="createRoute($event)"
        (onEdit)="updateRoute($event)"
    />
</app-crud-content>
<p-toast/>
