<div class="card p-2 rounded-2xl mb-5">
  <p-toast styleClass="text-sm"></p-toast>
  <p-tabView styleClass="p-0">
    <p-tabPanel
      styleClass="border-2"
      *ngIf="!lodadedData"
      header="Cargar archivo"
    >
      <app-km-analysis-upload
        (uploaded)="onUploaded($event)"
        (onLoading)="changeIsLoading($event)"
      />
    </p-tabPanel>
    <!--  Contenedor de contenido cargado  -->
    <ng-container *ngIf="lodadedData">
      <div class="my-2">
        <app-btn-confirm
          textPopup="¿Estás seguro que quieres volver? Se eliminará la información que no se haya guardado."
          btnText="Subir otra ruta"
          icon="pi-arrow-circle-left"
          (accept)="onChangeRoute()"
        />
      </div>

      <h2 class="font-bold my-5 flex gap-2 text-sm">
        <span>Línea: {{ generalData[0].linea }} </span> 
        <span>Fecha: {{ generalData[0].fecha }} </span> 
      </h2>
      <p-tabPanel header="Novedades">
        <app-km-table
          *ngIf="dataAnalysis.length > 0"
          class="h-screen"
          [data]="dataAnalysis"
          [isEditable]="true"
        />
        <h3 *ngIf="dataAnalysis.length < 1">
          No se encontraron kilómetros para analizar.
        </h3>
      </p-tabPanel>
      <p-tabPanel header="Detallado">
        <app-km-table [data]="dataDetails" />
      </p-tabPanel>
      <p-tabPanel header="Informe general">
        <app-general-table [data]="generalData" />
      </p-tabPanel>
      <p-tabPanel header="Resumen eléctricas">
        <app-kmElec-sumary-table [data]="dataElectric" />
      </p-tabPanel>
      <div class="flex justify-end mt-5">
        <app-btn-confirm
          textPopup="¿Estás seguro que desea guardar la información?"
          btnText="Guardar"
          [icon]="isLoading ? 'pi-spin pi-spinner' : 'pi-save'"
          (accept)="submit()"
        />
      </div>
    </ng-container>
  </p-tabView>
</div>
