<div class="card p-2 bg-base-100 rounded-2xl mb-5">
  <p-toast></p-toast>
  <p-tabView>
    <p-tabPanel *ngIf="!lodadedData" header="Cargar archivo">
      <app-km-analysis-upload
        (uploaded)="onUploaded($event)"
        (onLoading)="changeIsLoading($event)"
      />
    </p-tabPanel>
    <!--  Contenedor de contenido cargado  -->
    <ng-container *ngIf="lodadedData">
      <app-btn-confirm 
        textPopup="¿Estás seguro que quieres volver? Se eliminará la información que no se haya guardado." 
        btnText="Subir otra ruta"
        icon="pi-arrow-circle-left"
        (accept)="onChangeRoute()"
      />
      <h2 class="font-bold"> Línea: {{ generalData[0].linea }}  </h2>
      <p-tabPanel header="Novedades">
        <app-km-table
          *ngIf="dataAnalysis.length > 0"
          class="h-screen"
          [data]="dataAnalysis"
          [isEditable]="true"
        />
        <h3 *ngIf="dataAnalysis.length < 1">
          No se encontraron kilómetros para analizar.
        </h3>
      </p-tabPanel>
      <p-tabPanel header="Detallado">
        <app-km-table [data]="dataDetails" />
      </p-tabPanel>
      <p-tabPanel header="Informe general">
        <app-general-table [data]="generalData" />
      </p-tabPanel>
      <p-tabPanel header="Resumen eléctricas">
        <app-kmElec-sumary-table [data]="dataElectric" />
      </p-tabPanel>
      <div class="flex justify-end mt-5">
        <app-btn-confirm 
          textPopup="¿Estás seguro que desea guardar la información?" 
          btnText="Guardar"
          [icon]="isLoading ? 'pi-spin pi-spinner': 'pi-save'"
          (accept)="submit()"
        />
      </div>
    </ng-container>
  </p-tabView>
</div>
