<form  (submit)="submit()" [formGroup]="filterForm" class="mb-5 flex gap-5 items-center">
    <!--  Rutas  -->
    <div class="card flex justify-content-center gap-2">
        <p-dropdown 
            styleClass="w-50"
            formControlName="ruta" 
            placeholder="Seleccionar ruta"
            [required]="true"
            [options]="lines || []" 
            optionLabel="nombre"
            optionValue="id"
        >
        </p-dropdown>
        <div 
            *ngIf="formError || (this.filterForm.get('ruta')?.touched && this.filterForm.get('ruta')?.errors)" 
            class="alert alert-error text-sm"
        >
            <span>La ruta es requerida.</span>
        </div>
    </div>

    <!--  Fecha  -->
    <div class="card flex justify-content-center gap-2">
        <p-calendar  styleClass="w-40 border p-component" dataType="string" dateFormat="yy-mm-dd" formControlName="fecha" [showIcon]="true"></p-calendar>
        <div 
            *ngIf="formError || (this.filterForm.get('fecha')?.touched && this.filterForm.get('fecha')?.errors)" 
            class="alert alert-error text-sm"
        >
            <span>La fecha es requerida.</span>
        </div>
    </div>

    <!--  Itinerario  -->
    <div class="card flex justify-content-center">
        <p-dropdown 
            styleClass="w-50"
            formControlName="itinerario"
            optionLabel="nombre" 
            optionValue="id"
            placeholder="Seleccionar itinerario"
            [options]="itineraries || []" 
        >
        </p-dropdown>
    </div>

    <!--  Criterio  -->
    <div class="card flex justify-content-center">
        <p-dropdown formControlName="criterio" [options]=" criteries|| []" optionValue="id" optionLabel="nombre" placeholder="Seleccionar criterio"></p-dropdown>
    </div>

    <!-- Rango de KM -->
    <div class="flex gap-5">
        <div class="flex flex-col gap-2">
            <label for="kmInicial">KM Inicial</label>
            <p-inputNumber inputStyleClass="border w-24"  inputId="integeronly" formControlName="kmInicial"></p-inputNumber>
        </div>
        <div class="flex flex-col gap-2">
            <label for="kmFinal">KM Final</label>
            <p-inputNumber inputStyleClass="border w-24"  inputId="integeronly" formControlName="kmFinal"></p-inputNumber>
        </div>
    </div>
    <p-button type="submit" class="mb-5 p-3 bg-blue-500 text-white rounded-xl" label="Filtrar"></p-button>
    <p-button  (onClick)="clear()" type="button" class="mb-5 p-3 bg-blue-500 text-white rounded-xl" label="Limpiar"></p-button>
</form>
