<form
  (submit)="submit()"
  [formGroup]="filterForm"
  class="mb-5 flex flex-col gap-5 justify-between"
>
  <div class="flex items-center gap-5 mt-5">
    <!--  Rutas  -->
    <div class="flex flex-col justify-between gap-2 relative">
      <div class="card flex justify-between gap-2 p-float-label">
        <p-dropdown
          [showClear]="true"
          [filter]="true"
          inputId="criterio"
          styleClass="w-52 border"
          panelStyleClass="text-sm"
          formControlName="linea"
          placeholder="Seleccionar ruta"
          [required]="true"
          [options]="lines || []"
          optionLabel="nombre"
          optionValue="id"
          emptyMessage="No hay elementos."
        >
        </p-dropdown>
        <label for="criterio">Seleccionar ruta</label>
      </div>
      <div
        *ngIf="
          (this.filterForm.get('linea')?.touched &&
            this.filterForm.get('linea')?.errors)
        "
        class="absolute top-14 alert bg-warning text-sm"
      >
        <span class="text-sm">La ruta es requerida.</span>
      </div>
    </div>

    <!--  Fecha  -->
    <div class="w-52 card flex flex-col justify-between gap-2 relative">
      <p-calendar
        placeholder="Fecha"
        styleClass=" border rounded-l text-sm"
        panelStyleClass="text-sm"
        inputStyleClass="p-4 h-12 border rounded-l"
        dataType="string"
        dateFormat="yy-mm-dd"
        formControlName="fecha"
        [touchUI]="true"
        [showIcon]="true"
        [showClear]="true"
      >
      </p-calendar>
      <div
        *ngIf="filterForm.get('fecha')?.touched && filterForm.get('fecha')?.errors"
        class="absolute top-14 alert bg-warning text-sm"
      >
        <span class="text-sm">La fecha es requerida.</span>
      </div>
    </div>

    <!--  Itinerario  -->
    <div class="card flex justify-content-center p-float-label">
      <p-dropdown
        [showClear]="true"
        inputId="itinerario"
        panelStyleClass="text-sm"
        styleClass="w-52 border"
        formControlName="itinerario"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Seleccionar itinerario"
        emptyMessage="No hay elementos."
        [options]="itineraries || []"
      >
      </p-dropdown>
      <label for="itinerario">Seleccionar itinerario</label>
    </div>

    <!--  Criterio  -->
    <div class="card flex justify-content-center p-float-label">
      <p-dropdown
        [showClear]="true"
        panelStyleClass="text-sm"
        styleClass="border w-52"
        formControlName="criterio"
        [options]="criteries || []"
        optionValue="id"
        optionLabel="nombre"
        placeholder="Seleccionar criterio"
        emptyMessage="No hay elementos."
      ></p-dropdown>
      <label for="criterio">Seleccionar criterio</label>
    </div>

    <!-- Rango de KM -->

    <span class="p-float-label">
      <p-inputNumber
        inputId="km-inicial"
        inputStyleClass="w-28 h-12 border p-2 text-sm"
        inputId="integeronly"
        formControlName="kmInicial"
      ></p-inputNumber>
      <label htmlFor="km-inicial">KM Inicial</label>
    </span>

    <span class="p-float-label">
      <p-inputNumber
        inputId="km-final"
        inputStyleClass="w-28 border h-12 p-2 text-sm"
        inputId="integeronly"
        formControlName="kmFinal"
      ></p-inputNumber>
      <label htmlFor="km-final">KM Final</label>
    </span>
  </div>

  <div class="flex justify-end gap-5">
    <app-button-primary
      type="submit"
      icon="filter"
      textLabel="Filtrar"
    ></app-button-primary>
    <app-button-primary
      (onClick)="clear()"
      type="button"
      icon="eraser"
      textLabel="Limpiar"
    ></app-button-primary>
  </div>
</form>
