<form [formGroup]="formItinerary" class="pt-10 flex flex-col gap-5">
  <div class="flex gap-9">
    <span class="p-float-label">
      <p-inputNumber value="" inputId="nombre" inputStyleClass="w-32 h-12 border p-2"
          formControlName="nombre" autocomplete="off"></p-inputNumber>
        <label htmlFor="nombre">Nombre</label>
    </span>
  </div>
  <app-button-primary
    icon="save"
    class="pt-5"
    [textLabel]="type === CREATE ? 'Guardar' : 'Actualizar'"
    (onClick)="submit()"
  />
</form>
